/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* General */
Body {
    font-family: Arial, Helvetica, sans-serif;
}


/* header */

header {
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.button-header {
    background-color: #4a4a4a;
    border-radius: 5px;

}

/* Main */








/* Footer */